.footerMain {
  background-color: #000000;
  /* border-top-left-radius: 80px;
  border-top-right-radius: 80px; */
}

.footerMainOne {
  height: 330px;
  display: flex;
  justify-content: space-between;
  padding: 0px 80px 0px 80px;

}

.rightSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 110px;
  justify-content: center;
}

.eachSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.sectionheader {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  height: 30px;
  color: #ffffff;
}

.values {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #ffffff;
}

.FaceCaretRightIcon {
  display: none;
}

.leftSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 200px;
}

/* .lefth1 {

  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 283px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.lefth2 {

  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #ffffff;
  width: 318px;
  padding-bottom: 30px;
} */


.lastSection {
  width: 100%;
  height: 57px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
}

.leftLastText {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #FFFFFF;
}

.rightLastGrid {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}



.smlogo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  margin-top: 10px;
  cursor: pointer;
}

.smlogo:hover {
  border: #FFFFFF 1px solid;
}


.mainlogo {
  height: 60px;

}


/* Tablet screens (768px and above) */
@media (max-width: 768px) {
  .footerMain {
    height: auto;
    padding-top: 80px;
    background-color: #FFFFFF;
  }

  .footerMainOne {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
    /* padding: 0px 50px 0px 80px; */
  }

  .rightSection {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .eachSection {
    gap: 15px;
  }

  .smlogo {
    height: 35px;
    width: 35px;
  }

  .mainlogo {
    height: 50px;
  }
}

/* Mobile screens (480px and below) */
@media (max-width: 480px) {
  .footerMain {
    width: 100vw;
    height: auto;
    padding-top: 50px;
    background-color: #FFFFFF;
  }

  .footerMainOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 50px 0px 50px !important;
  }

  .leftSection {
    gap: 0vw;
    height: 100%;
    width: 100vw;
    margin-block-start: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-inline: 4.5vw; */
  }

  .rightLastGrid {
    gap: 10px;
  }

  .rightSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .eachSection {
    gap: 10px;
    display: flex;
    align-items: start;
    width: 60vw;
  }

  .sectionheader {
    font-size: 20px;
    text-align: center;
    color: rgb(66, 84, 102);
    font-weight: 500;
  }

  .values {
    font-size: 15px;
    text-align: center;
    color: rgb(66, 84, 102);
    font-weight: normal;
    font-family: Inter, Helvetica, Arial, sans-serif;
    line-height: 30.6px;
    cursor: pointer;
  }

  .values:hover {
    color: #0094FF;
    font-weight: 500;
  }

  .FaceCaretRightIcon {
    display: inline;
  }

  .smlogo {
    height: 30px;
    width: 30px;
  }

  .mainlogo {
    height: 45px;
  }

  .lastSection {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .leftLastText {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: rgb(66, 84, 102);
    font-family: "SF Pro Text", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  }
}