.bannerContainer {
    height: 200px;
    width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* padding: 20px;
    margin-block: 50px; */
}

.paraContent {
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;
    color: #505256;
    text-decoration: none;
    text-align: center;
}
.bannerMain{
    margin-top: 50px;
}